{% extends 'layouts/layout.html' %}

{% block content %}
<div class="content form-control">
    <h1 style="text-align: center;">Login</h1>
    <form method="post" action="{{ url_for("must_login.login") }}" class="login-form">
        <div class="field">
            <label class="label">Username/Login code</label>
            <div class="control">
                <input class="input" type="text" name="username" placeholder="Enter username or login code">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" name="password" placeholder="Email input">
            </div>
        </div>
        {% include 'components/form_error_messages.html' %}
        <div class="field">
            <div class="control">
                <button class="button is-link">Log In</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}