{% extends 'layouts/dashboard.html' %}

{% block data %}
<div class="content is-medium">
    <span class="tag is-medium is-info">Admins</span>
    <p>Create system adminstrators who will log in with restricted rights.</p>
    <span class="tag is-medium is-info">Logs</span>
    <p>View all the actions carried out by every admin.</p>
    <span class="tag is-medium is-info">Clients</span>
    <p>Create, modify and delete client entries.</p>
    <span class="tag is-medium is-info">Reports</span>
    <p>View all generated daily reports for clients and/or generate reports.</p>
    <span class="tag is-medium is-info">Settings</span>
    <p>Modify system settings.</p>
    <span class="tag is-medium is-info">Log Out</span>
    <p>Closes this session and it will require a new login session to use the system.</p>
</div>
{% endblock %}