<div class="modal" id="modal-new-clients">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Client</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="box">
                <!-- <h1 style="text-align: center;">Login</h1> -->
                {% if current_user.roles.role == "super admin" %}
                 <form method="post" action="{{ url_for("superadmin.clients") }}">
                {% elif current_user.roles.role == "account manager" %}
                 <form method="post" action="{{ url_for("account_manager.clients") }}">
                {% endif %}
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="full-name" placeholder="Enter first name" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" name="mail" placeholder="Enter Email" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Broker</label>
                        <div class="control">
                            <input class="input" type="broker" name="broker" placeholder="e.g IC Markets" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Account Type</label>
                        <div class="control">
                            <input id="acode" class="input" type="text" name="account-type" placeholder="Account type" required
                                >
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Phone Number</label>
                        <div class="control">
                            <input id="apass" class="input" type="tel" name="phone-no" placeholder="Phone Number" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Second Phone Number</label>
                        <div class="control">
                            <input id="apass" class="input" type="tel" name="phone-no-2" placeholder="e.g +234343242323" required
                                >
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Initial Capital Deposit(ICD)</label>
                        <div class="control">
                            <input id="apass" class="input" type="number" name="icd" placeholder="Initial capital deposit" required
                                >
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">ID Card Number</label>
                        <div class="control">
                            <input id="apass" class="input" type="text" name="idno" placeholder="ID No" required
                                >
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Account Number</label>
                        <div class="control">
                            <input id="apass" class="input" type="text" name="acn" placeholder="Account No" required>
                        </div>
                    </div>
                    <div class="field" style="display: flex; justify-content: right;">
                        <div class="control">
                            <button class="button is-link">Save Client</button>
                        </div>
                    </div>
                </form>

            </div>
        </section>


    </div>
    <div class="modal-close is-large"></div>
</div>